/* src/styles/About.css */
.about {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .about h1 {
    text-align: center;
    margin-bottom: 1.5rem;
  }
  
  .about-content h2 {
    margin-top: 1.5rem;

  }
  
  .about-content p {
    line-height: 1.6;
    color: #a7a7a7;
  }
  .about-content p strong{
    color: #ffa500;
  }