/* Skills Section */
.skills {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 50px;
  flex-direction: column;
}

.skills-list {
  max-width: 900px;
}

.skills-list h2 {
  font-size: 24px;
  margin-top: 30px;
  color: #ffa500;
}

.skills-list p {
  font-size: 18px;
  color: #c5c5c5;
  line-height: 1.6;
}

.skills-list strong {
  font-weight: bold;
}
